.env
env
env/
venv/
venv
*.key
*.sqlite3
*.swp
*.pyc
./cuarentena/*
*.csv
AutoCommit.py
check_files.py
auditor
auditor/
review/
node_modules/
node_modules
package.json
.secret
secret
secrets
secrets/

