# Dependencias principales
Flask==3.1.0
flask-socketio==5.5.1
flask-login==0.6.3
flask-argon2==0.3.0.0

# 🔒 SEGURIDAD NUEVA
flask-limiter==3.5.1
flask-cors==5.0.0

# Base de datos y hashing
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0

# Utilidades
Werkzeug==3.1.3
Jinja2==3.1.6
click==8.1.8
python-dotenv==1.1.1

# WebSockets y concurrencia
eventlet==0.40.3
python-engineio==4.12.2
python-socketio==5.13.0
greenlet==3.2.4

# Producción
gunicorn==23.0.0
